<tr>
	<td>
		<div class="d-flex justify-content-left">
		  <%= badge_image_tag user_badge.badge, class: "image_in_table" %>  

	  </div>
 	  <%= user_badge.badge.title %>
	</td>	 
	<td>
		<%= l user_badge.created_at %>
	</td>
</tr>