<div class="nav">
	<div class="app-title">
		<% if current_page?(admin_root_path) %>
			<%= t('.header') %> - <%= TestGuru::Application::NAME %>
		<% else %>
		   <%= link_to t('.header') + ' - ' + TestGuru::Application::NAME, admin_root_path%>
		<% end %>
	</div>


	<%= render '/shared/header_user_actions' %>				


</div>