<nav class="navbar navbar-dark bg-dark">
 
		<% if current_page?(root_path) %>
			<span class="navbar-brand"><%= TestGuru::Application::NAME %> - <%= t('.header') %></span>
		<% else %>
		  <%= link_to TestGuru::Application::NAME + ' - ' + t('.header'), root_path , class: 'navbar-brand' %>
		<% end %>

	  <%= render '/shared/header_user_actions' %>

</nav>