<h1><%= t '.title', test_title: @test_passage.test.title %></h1>

<p>
	<% if @test_passage.success? %>
		<strong class="test_passed_successfully"> 
			<%= t '.success_message', success_percent: @test_passage.success_percent %>
		</strong>
	<% else %>
		<strong class="test_passed_unsuccessfully"> 
			<%= t '.unsuccess_message', success_percent: @test_passage.success_percent %>
		</strong>
	<% end %>
</p>
 
<%= render 'shared/back_button', caption: t('.back'), path:  tests_path %> 