<h1>The "<%= @test_passage.test.title %>" was Complited!</h1>

<p>
	<% if @test_passage.success? %>
		<strong class="test_passed_successfully"> 
			Test passed successfully (<%= @test_passage.success_percent %>%)
		</strong>
	<% else %>
		<strong class="test_passed_unsuccessfully"> 
			Test passed unsuccessfully (<%= @test_passage.success_percent %>%)
		</strong>
	<% end %>
</p>
 
<%= render 'shared/back_button', caption: 'To the tests list', path:  tests_path %> 