<% flash.map do |key, value| %>	 
	<div class="alert alert-<%= flash_class(key) %> alert-dismissible fade show mt-1" role="alert">
	  <%= flash_html_safe?(key) ? value.html_safe : value %>
	  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
	    <span aria-hidden="true">&times;</span>
	  </button>
	</div>
<% end %>

