<hr class="my-4">
<div class="container-fluid">
	<div class="row">
		<div class="col-12 col-md-6">			  
		  <%= render 'shared/footer_app_info' %>	  											 			
    </div>
    <% unless current_page?(feedback_path) || 
    					current_action?('test_passages#show') || 
    					current_action?('test_passages#update')%>
	    <div class="col-12 col-md-6">
	    	<%= link_to feedback_path, class: 'btn btn-outline-info btn-sm float-right' do %>
	    	  <%= fa_icon 'envelope' %> 				
	    	  <%= t('.feedback') %>
	    	<% end %>
	    </div>
    <% end %>
  </div>
</div>
