<div class="nav">
	<div class="app-title">
		<% if current_page?(root_path) %>
			<%= TestGuru::Application::NAME %>
		<% else %>
		  <%= link_to TestGuru::Application::NAME, root_path%>
		<% end %>
	</div>

	<%= render '/shared/header_user_actions' %>

</div>