<p>
	<% if user_signed_in? %>
		<p class="app-welcome-title"> <%= t('.signed.welcome', app_name: TestGuru::Application::NAME) %> </p>
		<p class="app-welcome-text">
			<%= link_to t('.signed.choose_test'), tests_path %> 
		</p>		
	<% else %>
		<p class="app-welcome-title"> <%= t '.welcome', app_name: TestGuru::Application::NAME %> </p>
		<p class="app-welcome-text"> <%= t '.select_action_html', 
		sign_up_link: (link_to t('.sign_up') , new_user_registration_path),
		login_link: (link_to t('.login'), new_user_session_path) %>
		</p>
	<% end %>
</p>